#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




.content{
  display: flex;
  gap: 50px;
}
.list{
  display: flex;
  gap: 20px;
  width: 800px;
  flex-wrap: wrap;
}

.list img{
  width: 100px;
  height: 150px;
}

table{
  border-collapse: collapse;
}
table,tr,th,td{
  border: 1px solid gray;
}

th,td{
  padding: 5px 15px;
}
